{% load static %}
<!doctype html>
<html lang="en">
  <head>
     {% if page_title %}
      <title>{{page_title}}</title>
     {% else %}
      <title>Anan Blog</title>
     {% endif %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=1024">
    <link rel="icon" href="{% static 'images/icon/favicon.png' %}" sizes="16x16" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css">

    <link rel="stylesheet" href='{% static "css/navbar.css" %}'>
    <link rel="stylesheet" href='{% static "css/nishan.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://brianium.github.io/watermarkjs/scripts/polyfill.js"></script>
    <script src="https://brianium.github.io/watermarkjs/scripts/watermark.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script src="{% static 'js/jquery.watermark.min.js' %}" type="text/javascript"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/searchBar.js" %}"></script>
  </head>
  <body>
    
    <div class="container">

        <header>
            <nav class="navbar navbar-dark bg-dark-black col">

                <button class="navbar-toggler navbar-toggle float-left" >
                    <span class="navbar-toggler-icon anan-nav-icon"></span>
                </button>

                <div class="navbar-main">
                  <div class="navbar-inner">
                     <div class="row">
                        <div class="col-lg-6 navbar-left">
                           <a href="#" class="navbar-toggle"><i class="fas fa-times"></i></a>
                           <div class="search-block">
                              <form method="get" action="/search" class="search-form">
                                 <div class="form-group">
                                    <label class="sr-only">Search</label>
                                    <div class="field-wrap">
                                       <input type="text" name="q" class="form-control" placeholder="Search...">
                                       <button class="btn search-icon"><i class="fas fa-search"></i></button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                           <div class="main-navigation">
                              <ul class="navbar-nav">

                                 {% for category in categories %}
                                    <li class="menu-item"><a class="menu-item-link" href="/articles/{{category.category_slug}}">{{category.category_name}}</a></li>
                                 {% endfor %}

                              </ul>
                           </div><!-- .main-navigation -->
                           <div class="secondary-navbar">
                              <div class="row align-items-center">
                                 <div class="col-md-5 s-navbar-left">
                                    <ul class="navbar-menu-2">
                                       <li class="menu-item"><a class="menu-item-link"  href="/home">Home</a></li>
                                       <li class="menu-item"><a class="menu-item-link" href="/about">About</a></li>
                                       <li class="menu-item"><a class="menu-item-link" href="#">Services</a></li>
                                       <li class="menu-item"><a class="menu-item-link" href="/presentation">Presentation</a></li>
                                       <li class="menu-item"><a class="menu-item-link" href="/articles">Blog</a></li>
                                       <li class="menu-item"><a class="menu-item-link" href="/contact">Contact</a></li>
                                    </ul>
                                 </div><!-- .s-navbar-left-->
                                 <div class="col-md-7 s-navbar-right">
                                    <h5>Sign Up For Daily Emails To Get The Latest Goldstreet Consulting News.</h5>
                                    <form>
                                       <div class="form-group icon-email-field">
                                          <input type="email" class="form-control" placeholder="Enter Your Email">
                                          <button type="submit" class="btn">
                                             <i class="fas fa-arrow-right"></i>
                                          </button>
                                       </div>
                                    </form>
                                 </div><!-- .s-navbar-right-->
                              </div>
                           </div><!-- .secondary-navbar -->
                           <div class="secondary-navbar logout">
                              <ul class="navbar-menu-2">
                                 {% if loggedin %}
                                 <li class="menu-item"><a class="menu-item-link" href="/profile">Account</a></li>
                                 <li class="menu-item"><a class="menu-item-link" href="/logout">Logout</a></li>
                                 {% else %}
                                 <li class="menu-item"><a class="menu-item-link" href="/login">Login</a></li>
                                 {% endif %}
                              </ul>
                           </div><!-- .secondary-navbar -->
                           <div class="row navbar-foot">
                              <div class="col-md-7 navbar-foot-info">
                                 <h4>GoldStreet <span>Consulting</span></h4>
                                 <p style="color: #000;">Digital Excellence. Delivered.</p>
                              </div><!-- .col-md-7 -->
                              <div class="col-md-5 navbar-foot-social">
                                 <div class="social-links">
                                    <ul>
                                       <li><a class="menu-social-icon" href="https://www.facebook.com/AnangTawiah"><i class="fab fa-facebook"></i></a></li>
                                       <li><a class="menu-social-icon" href="#"><i class="fab fa-google"></i></a></li>
                                       <li><a class="menu-social-icon" href="https://twitter.com/AnangTawiah"><i class="fab fa-twitter"></i></a></li>
                                       <li><a class="menu-social-icon" href="https://www.linkedin.com/anangtawiah"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                 </div>
                              </div><!-- .col-md-5 -->
                           </div><!-- .row -->
                        </div><!-- .navbar-left -->
                        <div class="col-lg-6 navbar-right">
                           {{ menuContent | safe }}
                        </div>
                        <!-- .navbar-right -->
                     </div><!-- .row -->
                  </div><!-- .navbar-inner -->
               </div><!-- .navbar-main -->

                <a class="navbar-brand" href="/home"></a>

                <div class="col icon-div">
                    <a href="/cart">
                        <img note="nowt" src="https://res.cloudinary.com/hj7llsxyl/image/upload/v1631623101/icons/cart-icon_eznqqf.svg" class="anan-cart-icon">
                    </a>

                    <form action="/search" id="demo-2">
                        <!-- <input type="search" name="q" placeholder="Search"> -->
                        <img class="search-icon-nav navbar-toggle" src="https://res.cloudinary.com/hj7llsxyl/image/upload/v1631623101/icons/search-icon_ovdkbx.svg" alt="" srcset="">
                    </form>
                    <br>

                    <nav class="navbar navbar-expand rounded nav-right-social" style="margin-top: 75px; margin-left: 30px;">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-5">
                          <a href="https://www.facebook.com/AnangTawiah" target="blank" class="social-icon">
                            <i class="fab fa-facebook-f "></i>
                          </a>
                        </li>
                        <li class="nav-item mr-5">
                          <a href="https://twitter.com/AnangTawiah" target="blank" class="social-icon">
                            <img src="{% static 'images/icon/twitter.svg' %}" note="nowt" alt="">
                          </a>
                        </li>
                        <li class="nav-item mr-5">
                          <a href="https://www.linkedin.com/anangtawiah" target="blank" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
                
                <div class="underline-div">
                   <hr class="nav-underline">
                </div>
            </nav>
        </header>

        <main class="pl-5 pr-5">
            {% csrf_token %}

            <script>
               const csrftkn = document.querySelector('[name=csrfmiddlewaretoken]').value;
            </script>

            <div class="page-title-wrap">
                <h2 class="page-title">Contact <span style="margin-left: 60px;">Us</span></h2>
            </div><!-- .page-title-wrap -->
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">contact us</li>
            </ol>
            </nav><!-- .breadcrumb -->

            <div class="section-block" id="contact">
                <div class="container">
                   <div class="form-block inquiry-form-block" style="background: #000; padding: 0;">
                      <div class="row">
                         <div class="col-lg-6">
                            <h2>How Can We Help?</h2>
                            <h5>Please select a topic below related to your inquiry. if you don't find what you need, fill what you need, fill out contact form.</h5>
                            <div class="subscribe-accordion accordion" id="accordionExample">
                               <div class="card">
                                  <div class="card-header" id="headingOne">
                                     <h3>Subscribe for exclusive content</h3>
                                     <p>discover the many ways in which our customers use sleeknote.</p>
                                     <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <i class="fas fa-chevron-right"></i>
                                     </button>
                                  </div>
                                  <!-- .card-header -->
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                     <div class="card-body">
                                        <p>Become a Goldstreet Consulting member<br> Goldstreet members get full access to every article published on Goldstreet, including our full archive. You'll also get free access to Goldstreet Monthly events, each event's live video stream and our full video archive.</p>
                                        <p>To activate your membership immediately, enter your payment details and subscription preferences below.</p>
                                     </div>
                                  </div>
                                  <!-- .collapse -->
                               </div>
                               <!-- .subscribe-accordion -->
                            </div>
                            <div class="contact-info-box">
                                  <h3>Contact Information</h3>
                                  <ul class="contact-info">
                                     <li>
                                        <span class="icon icon-location">
                                           <i class="fas fa-map-marker-alt"></i>
                                        </span>
                                        <span class="info-label">Sleeknote ApS <span>Jens Baggesens Vej 90A, 8200 Aarhus</span></span>
                                     </li>
                                     <li>
                                        <span class="icon icon-phone">
                                           <i class="fas fa-phone-alt"></i>
                                        </span>
                                        <span class="info-label">+45 71 99 77 07</span>
                                     </li>
                                     <li>
                                        <span class="icon icon-mail">
                                           <i class="fas fa-envelope"></i>
                                        </span>
                                        <span class="info-label">mail@sleeknote.com</span>
                                     </li>
                                  </ul>
                                  <!-- .contact-info -->
                               </div>
                               <!-- .contact-info-box -->
                         </div>
                         <!-- .col-md-6 -->
                         <div class="col-lg-6">
                            <div class="form-box">
                               <form action="/set-contact" id="contactForm" enctype="multipart/form-data" method="post">
                                  {% csrf_token %}
                                  <div class="form-row">
                                     <div class="form-group col-md-6">
                                        <label>First Name *</label>
                                        <input type="text" required name="first_name" class="form-control">
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label>Last Name *</label>
                                        <input type="text" required name="last_name" class="form-control">
                                     </div>
                                  </div>
                                  <div class="form-group">
                                     <label>Email *</label>
                                     <input type="email" required name="email" class="form-control">
                                  </div>
                                  <div class="form-group">
                                     <label>Phone *</label>
                                     <input type="tel" required name="phone" class="form-control">
                                  </div>
                                  <div class="form-group">
                                     <label>Consulation</label>
                                     <select class="form-control bg-dark" required name="consulation">
                                       <option value="Consulting Services Inquiry">General inquiry</option>
                                       <option value="Consulting Services Inquiry">Content licensing</option>
                                       <option value="Consulting Services Inquiry">Booking</option>
                                       <option value="Consulting Services Inquiry">Other</option>
                                     </select>
                                  </div>
                                  <div class="form-group">
                                     <label>Company Name</label>
                                     <input type="text" name="company_name" class="form-control">
                                  </div>
                                  <div class="form-group">
                                     <label>Message</label>
                                     <input type="text" required name="message" class="form-control">
                                  </div>
                                  <div class="form-group">
                                     <label>Additional Details</label>
                                     <textarea class="form-control" name="additional_details" rows="4"></textarea>
                                  </div>
                                  <div class="form-group">
                                     <label>How Did You Find Us?</label>
                                     <input type="text" required name="source" class="form-control">
                                  </div>
                                  <div class="form-group">
                                     <label>Drop In any Relevant File Here</label>
                                     <input type="file" name="rev_file" class="form-control-file">
                                  </div>
                                  <div class="radio-checkbox terms-btn" data-toggle="buttons">
                                     <label class="btn">
                                        <input type="checkbox" name="terms_agree" required > <a href="/terms-of-use"> Terms and Conditions </a>
                                     </label>
                                  </div>
          
                                  <div class="g-recaptcha" data-sitekey="6Lc-GbYcAAAAAAk6YcBg4UX1DPBaibtXuHxhrbPM"></div>
                                  <span id="captchaDiv" class="text-danger"></span>
          
                                  <button type="submit" class="btn mt-3 btn-theme btn-block">Send Message</button>
                               </form>
                            </div>
                            <!-- .form-box -->
                         </div>
                         <!-- .col-md-6 -->
                      </div>
                   </div>
                   <!-- .form-block -->
                </div>
             </div>
             <!-- .section-block -->
        </main>

    </div>
   <!-- .section-block -->

   <script>
      $("#contactForm").submit(function(e){

         if (grecaptcha.getResponse() == ""){
            $("#captchaDiv").html('Invalid Captcha');
         }else{
            $("#captchaDiv").html('');

            $("#contactForm").submit();
         }

         return false;
      })
   </script>

   <footer class="site-footer">
      <div class="widget-area">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-lg-3">
                  <div class="widget widget-navigation">
                     <h3>Anang <span>Tawiah's</span><span class="theme-color">Notes.</span></h3>
                     <ul>
                        <li><a href="#">Data</a></li>
                        <li><a href="#">Digital</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Management</a></li>
                     </ul>
                  </div>
                  <!-- .widget-navigation -->
               </div>
               <!-- col-md-3 -->
               <div class="col-md-6 col-lg-3">
                  <div class="widget widget-about">
                     <h3 class="widget-title">About</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                     <h4>Sign Up For Daily Emails To Get The Latest Goldstreet Consulting News</h4>
                     <form>
                        <div class="form-group icon-email-field">
                           <input type="email" class="form-control" placeholder="Enter Your Email">
                           <button type="submit" class="btn">
                              <i class="fas fa-arrow-right"></i>
                           </button>
                        </div>
                     </form>
                  </div>
                  <div class="widget">
                     <h3 class="widget-title">Site Map</h3>
                  </div>
               </div>
               <!-- col-md-3 -->
               <div class="col-md-6 col-lg-3">
                  <div class="widget widget-categories">
                     <h3 class="widget-title">Categories</h3>
                     <ul>
                        <li><a href="#">News</a> (1,179)</li>
                        <li><a href="#">General</a> (529)</li>
                        <li><a href="#">Social</a> (430)</li>
                        <li><a href="#">Politics</a> (266)</li>
                        <li><a href="#">Uncategorized</a> (260)</li>
                        <li><a href="#">Education</a> (211)</li>
                        <li><a href="#">Other</a> (176)</li>
                        <li><a href="#">Business</a> (145)</li>
                        <li><a href="#">Sports</a> (142)</li>
                     </ul>
                     <a href="#" class="see-more-link">See More</a>
                  </div>
               </div>
               <!-- col-md-3 -->
               <div class="col-md-6 col-lg-3">
                  <div class="widget widget-progress">
                     <h3 class="widget-title">Keywords</h3>
                     <ul>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Case Studies</h4>
                              <span class="progress-percent">365%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 36%" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Perspactive</h4>
                              <span class="progress-percent">75%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Who We Are</h4>
                              <span class="progress-percent">65%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Case Studies</h4>
                              <span class="progress-percent">85%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Case Studies</h4>
                              <span class="progress-percent">75%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Case Studies</h4>
                              <span class="progress-percent">85%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Case Studies</h4>
                              <span class="progress-percent">45%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Case Studies</h4>
                              <span class="progress-percent">95%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                        <li>
                           <div class="progress-label-bar">
                              <h4 class="progress-label">Case Studies</h4>
                              <span class="progress-percent">75%</span>
                           </div>
                           <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- col-md-3 -->
            </div>
            <!-- .row -->
         </div>
      </div>
      <!-- .widget-area -->
      <div class="footer-info">
         <div class="container">
            <div class="site-info-bar" style="display: block;">

               <div class="row justify-content-center">
                  <div class="col">
                     <div class="social-links">
                        <ul style="margin-left: 45%;">
                           <li><a href="https://www.facebook.com/AnangTawiah" target="blank"><i class="fab fa-facebook"></i></a></li>
                           <li><a href="#" target="blank"><i class="fab fa-google"></i></a></li>
                           <li><a href="https://twitter.com/AnangTawiah" target="blank"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="https://www.linkedin.com/anangtawiah" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col">
                     <div class="site-info-copyright">
                        <p id="year" style="font-size: 14px; text-align:center;"></p>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>

      <input type="hidden" id="email_sent" value="{{email_sent}}">

      <script>
         var currentYear = new Date().getFullYear();
         document.getElementById("year").innerHTML = '© Anang Tawiah, '+currentYear+' :  Unless otherwise stated, I am the creator of all content on this website (including but not limited to text, photos, videos, and artwork).  No part of the materials available through this website (AnangTawiah.com), shall be copied, photocopied, reproduced, translated, or reduced to any electronic medium or machine-readable form, in whole or in part, without the prior written consent of Anang Tawiah. Any other reproduction in any form without the permission of Anang Tawiah is prohibited. All materials contained on this site are protected by the United States copyright law and may not be reproduced, distributed, transmitted, displayed, published, or broadcast without the prior written permission of Anang Tawiah. You can reach me via the contact form if you wish to seek permission to use the content.  Cite posts as:  TAWIAH, ANANG, (date), “Post Title”, AnangTawiah.com.”' ;

         $.ajax({
            method: "POST",
            url: "/get-constance",
            headers: {'X-CSRFToken': csrftkn},
            mode: 'same-origin',
            data: {chkWaterMark:""},
            success: function (data){
                if (data == 'True'){
                  
                  $('img').map(function(){
                        note = $(this).attr("note")

                        if(note == "nowt"){
                           //pass
                        }else{

                           $(this).watermark({
                              path: 'https://res.cloudinary.com/hj7llsxyl/image/upload/c_scale,w_50/v1633777404/anan-logo_nhuutx.png',
                              margin: 20,
                              fullOverlay: !1,
                           });

                           // anan-logo_nhuutx.png
                           // favicon_qgwuvj.png
                        }
                  }).get();

                }
            }
        });

        email_sent = $("#email_sent").val();

        if (email_sent == "yes"){
            var toastMixin = Swal.mixin({
                  toast: true,
                  icon: 'success',
                  title: 'General Title',
                  animation: false,
                  background: 'black',
                  position: 'top-right',
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
            });

            toastMixin.fire({
               animation: true,
               title: 'Email Sent Successfully'
            });
        }

      </script>
      
   </footer>
  </body>
</html>