{% extends 'layout/base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col p-5">
        <img style="margin-left: 30%;" src="https://res.cloudinary.com/hj7llsxyl/image/upload/v1631812765/icons/Group_1_kmy4tf.png" alt="">
        <img style="margin-left: 10%; margin-top: -50%;" src="https://res.cloudinary.com/hj7llsxyl/image/upload/v1631812765/icons/Error_vnj4yv.png" alt="">

        <h2 class="mt-4 text-center">
            Sorry about this inconvinience.  Please click the link below to go back to our homepage.
        </h2>

        <h1 class="mt-5 text-center">
            <a href="#" style="color: #FFC83A !important; text-decoration: none;">
                HOME 
                <img src="https://res.cloudinary.com/hj7llsxyl/image/upload/v1631816282/icons/Arrow_13-yel_qzot8w.png" alt="">
            </a>
        </h1>
    </div>
</div>

{% endblock %}